<!DOCTYPE html>
<html th:replace="~{templates/layout :: layout(~{::title}, ~{::body}, ~{})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title th:text="#{user.index.title}">Users</title>
</head>
<body>
  <div class="" th:fragment="copy">
    <div class="">
      <div class="">
      
        <div class="">
          <h2 th:text="#{user.index.all}">All Micropost</h2>
        </div>
        
        <div class="">
           <ul class="users">
             <th:block th:each="bookmark : ${bookmarks}">
             <li  th:replace="~{bookmarks/_bookmark :: copy(${bookmark})}"></li>
             </th:block>
           </ul>
        </div>
        
        <div class="">
          <button type="button" class="btn btn-danger" data-dismiss="model">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  
 
</body>
</html>